#textarea-search{
    height: 1.5em;
    width: 25em;
    margin-bottom: 10px;
    resize: none;
    padding-left: 2em;
    background-color: transparent;
    border: none;
    color: aliceblue;
    font-weight: 200;
    overflow: hidden;
}

.icon{
    z-index: 3;
    position: absolute;
    border-radius: 50%;    
    width: 22px;
    height: 22px;
    background-color: aliceblue;
}

.icon:hover{
    height: 30px;
    width: 30px;
}

.menu-scrollable:hover .icon:nth-child(3){
    background-color: rgb(161, 240, 211);
    margin-top: 28px;
}

.menu-scrollable:hover .icon:nth-child(2){
    background-color: rgb(150, 173, 244);
    margin-top: -28px;
}

.icon:nth-child(3){
    background-color: aquamarine;
}

#textarea-search:focus, input:focus{
    outline: none;
}

#search{
    display: flex;
    margin: auto;
    margin-top: 45px;
    width: 25em;
    height: 15pt;
    
}

/* Table data: */
#items{
    display: grid;
    width: auto;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 0.3em;
}
.key{
    color: rgb(46, 226, 127);
}
.item{
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.303);
    background-color: rgba(69, 69, 73, 0.864);
    overflow: hidden;
    margin: 0.2em;
    height: 10em;
    padding: 1em;
    border-radius: 7%;
    color: #b7b9bb;
}
.item:hover, .selected-item{
    background-color: rgba(88, 92, 93, 0.864);
    border-radius: 0%;
    margin: 0px;   
}
.selected{
    background-color: rgb(128, 128, 171);
    border-radius: 0%;
    margin: 0px;   
}

.data{
    overflow: hidden;
    text-overflow: ellipsis;
    height: 24px;
}
.error{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(142, 142, 142);
    padding: 2em;
}
.data:hover{
    cursor: help;
}
.loading{
    cursor: progress;
}
#results{
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    margin: 10px;
    padding: 10px;
    border: ridge 2.5px #f2eeff42;
    border-radius: 40px;
    background-color: #2c2b2b27;
    height: 65vh;
}
.selected-item{
  box-shadow: 2px 2px 20px 3px rgba(0, 0, 0, 0.773);
  background: linear-gradient(50deg, hsla(180, 23%, 27%, 0.774) 0%, rgba(70, 60, 80, 0.681) 100%);

}
.static-bar{
    background-color: rgba(71, 71, 74, 0.566);
    overflow: hidden;
    border-radius: 50px;
    padding: 20px;
    display: flex;
}
#button-proceed:hover{
    background-color: rgba(69, 120, 106, 0.729);   
    border: outset rgb(78, 145, 78);  
}
#button-proceed{
    background-color: rgba(92, 94, 114, 0.296);
    border-radius: 20px;
    padding: 10px;
    color: rgb(169, 169, 169);
    margin: auto;
    margin-right: 2px;
    border: outset grey;
}
.item .data:nth-child(1){
    font-weight: 800;
    color: #cfcfcf;
    border-bottom: solid 1px;
    margin-bottom: 2px;
}
.helpers{
    color: #b7b9bb;
}